user: "<your-email>"
catalog: "<catalog-name>"
schema: "<schema-name>"
table: "<table-name>"
mlflow_experiment_name: "/Users/{user}/experiments/<experiment-name>"
model_serving_endpoint: "<serving-endpoint-name>"
model_serving_base_url: "https://<your-workspace-url>"
databricks_secret_scope: "<secret-scope>"
databricks_secret_key: "<secret-key>"
